<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>北方健康链</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body style="width: 60%; margin: 50px auto">
    <div style="height: 10%">
      <div style="font-size: 32px; font-weight: bold; text-align: center; margin: 20px;">fisco bcos - 日志上链项目</div>
    </div>
    <p>请使用 /addlog 来将日志上链。</p>
    <fieldset>
      <legend>/addlog</legend>
      <pre>
    参数示例：
    {
        "userId": "bcosuser",
        "keyURL": "/test/add",
        "content": "rawcontent"
    }
      </pre>
    </fieldset>

    <p>请使用 /verifylog 来将检查日志是否被篡改。</p>
    <fieldset>
      <legend>/verifylog</legend>
      <pre>
    参数示例：
    {
        "logId": "40c1baa13514ed416044c2e9a1db666b",
        "content":"rawcontent"
    }
      </pre>
    </fieldset>

    <br />
    <ul>
      <li>
        接口测试界面，请访问
        <a href="swagger-ui.html#/bcos-controller" target="swagger">这里</a>
      </li>
    </ul>
  </body>
</html>
